/node_modules
/public/hot
/app/Console/Commands/TestAmazonElasticTranscoderRequests.php
/app/Services/HandleVideoServiceExtenderTest.php
/public/storage
/public/phpmyadmin
/public/css
/public/images
/public/img
/public/js
/public/*.js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
*.log
homestead*
.env
.DS_Store
laravel-echo-server.json
laravel-echo-server.lock
dump.edb
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
dump.rdb
_ide_helper.php
